@using BLL.Entities
@using MvcKnowledgeSystem.Models
@model TestsViewModel
@{
    ViewBag.Title = "Knowledge Testing System";
}

<div class="container">
    <h2>Available Tests</h2>
    <p>You can choose any of this tests to pass:</p>
    <table class="table table-hover table-condensed table-bordered">
        <thead>
            <tr>
                <th>Title</th>
                <th>Topic</th>
                <th>TimeLimit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var test in Model.Tests)
            {
                <tr class="trr">
                    <td><a href="/Test/Info/@test.Id">@test.Title</a></td>
                    <td><a href="/Test/Info/@test.Id">@test.Topic</a></td>
                    <td><a href="/Test/Info/@test.Id">@test.TimeLimit</a></td>
                </tr>
            }
        </tbody>
    </table>
    <nav aria-label="Page navigation" style="margin-left: 45%;">
        <ul class="pagination">
            @if (Model.PageInfo.CurrentPage != 1)
            {
                <li>
                    <a href="/?page=@(Model.PageInfo.CurrentPage - 1)" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }
            @for (int i = 1; i <= Model.PageInfo.TotalPages; i++)
            {
                if (i != Model.PageInfo.CurrentPage)
                {
                    <li><a href="/?page=@i">@i</a></li>
                }
                else
                {
                    <li class="active"><a href="/?page=@i">@i</a></li>
                }
            }
            @if (Model.PageInfo.CurrentPage != Model.PageInfo.TotalPages)
            {
                <li>
                    <a href="/?page=@(Model.PageInfo.CurrentPage + 1)" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
        </ul>
    </nav>
</div>

<style>
    a {
        display: block;
        padding: 1px;
        color: black;
    }

        a:hover {
            text-decoration: none;
            color: black;
        }

    .trr:hover td {
        background-color: coral;
    }
</style>
